@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
    <ul class="navbar-nav">
        @if (SignInManager.IsSignedIn(User))
        {
            string email = UserManager.Users.FirstOrDefault(u => u.UserName == User.Identity.Name).UserName;
            string[] name = email.Split('@');

            <li class="nav-item">
                <a class="nav-link   box  from-top" style="font-family:monospace" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hoşgeldin @name[0]</a>
            </li>
            <li class="nav-item">
                <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                    <button type="submit" class="nav-link btn  box  from-top">Çıkış Yap</button>

                </form>


            </li>



        }
        else
        {

            <li class="nav-item rectBtn">
                <a class="nav-link text-white btn box from-top" asp-area="Identity" asp-page="/Account/Register">Kayıt Ol </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white btn box  from-top" asp-area="Identity" asp-page="/Account/Login">Giriş Yap</a>
            </li>

        }
    </ul>



