@model int
<div class="container row">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">Sipariş başarıyla gerçekleşti.</h1><br />
        <img src="~/images/lawn_leaf.jpg" width="50%" />
    </div>
    <div class="col-12 text-center" style="color:maroon">
        <br />
        Siparişiniz için teşekkürler <br />
        Yakında size bilgilendirme hakkında e-mail göndereceğiz.
        <br />
        Sipariş numaranız : @Model
    </div>
</div>
